<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description"
            content="Vego is fully responsive admin dashboard template built with Angular, HTML, Bootstrap 4, jQuery and SASS">
        <title>Vego Admin - Angular + Bootstrap 4 Admin Dashboard Responsive HTML Template</title>
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Vego Admin">
        <meta property="og:title" content="Angular + Bootstrap 4 Admin Dashboard Responsive HTML Template">
        <meta property="og:version" content="1.0.0">
        <meta property="og:url" content="http://templateclub.co.in">
        <meta property="og:image" content="Angular + Bootstrap 4 Admin Dashboard Responsive HTML Template">
        <meta property="og:description"
            content="Vego is fully responsive admin dashboard template built with Angular, HTML, Bootstrap 4, jQuery and SASS">
        <meta name="theme-color" content="#1C2B36" />

        <link href="../public/assets/images/favicon.ico" rel="apple-touch-icon" type="image/png" sizes="114x114">
        <link href="../public/assets/images/favicon.ico" rel="apple-touch-icon" type="image/png" sizes="72x72">
        <link href="../public/assets/images/favicon.ico" rel="apple-touch-icon" type="image/png">
        <link href="../public/assets/images/favicon.ico" rel="icon" type="image/png">
        <link href="../public/assets/images/favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" type="text/css" href="../public/assets/css/bootstrap/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../public/assets/css/animate.min.css">
        <link rel="stylesheet" type="text/css" href="../public/assets/icons/icomoon/icomoon.css">
        <link rel="stylesheet" type="text/css" href="../public/assets/icons/leaf/leaf.css">
        <link rel="stylesheet" type="text/css" href="../public/assets/css/vendor.css">

    </head>

    <body class="background">
        <div class="auth-container login boxed">
            <div class="center-block">
                <div class="auth-module">

                    <div class="form text-center">
                        <!-- <img src="../public/assets/images/logo-auth-light.png" alt="Leaf Admin" /> -->
                        <h3>Sign In To View Api Documentation</h3>
                        <form class="form-horizontal" action="/login" method="POST" >
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Username" autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" autocomplete="off" />
                            </div>
                            <div class="form-group remember">
                                <div class="checkbox float-left">
                                    <label>
                                        <input type="checkbox" class="styled">
                                        Remember me
                                    </label>
                                </div>
                                <div class="forgot float-right">
                                    <a href="user_password.htm">Forgot Password?</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-rounded">Sign In</button>
                            </div>
                        </form>
                    </div>

                    <div class="register text-center">
                        Don't have an account yet?&nbsp;&nbsp;<a href="user_register2.htm">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>

        <script src="../public/assets/js/jquery.min.js"></script>
        <script src="../public/assets/js/bootstrap.min.js"></script>
        <script src="../public/assets/js/jquery.slimscroll.js"></script>
        <script src="../public/assets/js/pace.min.js"></script>
        <script src="../public/assets/js/plugins/forms/uniform.min.js"></script>
        <script src="../public/assets/js/plugins/forms/select2.min.js"></script>
        <script src="../public/assets/js/vendor.js"></script>

    </body>

</html>